.sider
    .inner-menu
        ul
            li 
                a(href=`${prefixAdmin}/dashboard` class="text-decoration-none") Tổng quan
            li 
                a(href=`${prefixAdmin}/topics` class="text-decoration-none") Quản lý chủ đề
            li 
                a(href=`${prefixAdmin}/songs` class="text-decoration-none") Quản lý bài hát
            li 
                a(href=`${prefixAdmin}/singers` class="text-decoration-none") Quản lý ca sĩ
            li 
                a(href=`${prefixAdmin}/roles/permissions` class="text-decoration-none") Phân quyền
            li 
                a(href=`${prefixAdmin}/accounts` class="text-decoration-none") Tài khoản admin
            li 
                a(href=`${prefixAdmin}/users` class="text-decoration-none") Tài khoản user
            li 
                a(href=`${prefixAdmin}/users` class="text-decoration-none") Cài đặt chung